@model UserModel

<li class="nav-item">
    <a class="nav-link text-light" asp-area="">Olá, @Model.Nick</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="LogOut">Sair</a>
</li>